


body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", Arial, sans-serif; 
	font-weight: 400;	
	font-size: 16px;
	line-height: 24px;
	color: #283136;

	background-color: #ffffff;
}

a {
	text-decoration: none;
	display: block;
}


.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: #000000;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;

	background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
	display: flex;
	list-style: none;
}

.site-navigation li + li {
	margin-left: 50px;
}

.site-navigation a,
.user-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: #FB565A;
}

.site-navigation a:active,
.user-navigation a:active {
	color: rgba(0,0,0,0.3);
}

.catalog-list {
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	max-width: 760px;
	list-style: none;
}

.catalog-service  {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	
	list-style: none;
}

.catalog-item h3 {
	margin-bottom: 30px;

	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
	font-size: 24px;
}

.catalog-item p {
	width: 250px;
	margin: 0 auto;
	padding-bottom: 30px;
}

.button {
	border: none;
	padding: 20px 40px;
	display: inline-block;
	vertical-align: top;


	font: inherit;
	font-size: 16px;
	color: #ffffff;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	
	border-radius: 5px;

}

.button-red {
	background-color: #FB565A;
	
}
.button-red:hover,
.button-red:focus {
	background-color: #E74246;
}

.button-red:active {
	color: rgba(255,255,255,0.3);
	background-color: #D7373B;
}

.button-green {
	background-color: #00CA74;

}

.button-green:hover,
.button-green:focus {
	background-color: #00BC6C;
}

.button-green:active {
	color: rgba(255,255,255,0.3);
	background-color: #00AA62;

}

.button-yellow {
	background-color: #EFC84A;
}

.button-yellow:hover,
.button-yellow:focus {
	background-color: #EAB534;
}

.button-yellow:active {
	color: rgba(255,255,255,0.3);
	background-color: #E5A722;
}

.footer-social {
	display: flex;
	padding: 0;

	width: 260px;
	margin: 0px;
	list-style: none;
}

.footer-social li {
	width: 70px;
	height: 70px;
	background-color: #eeeeee;
	border-radius: 50%;
}

.footer-h {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	margin-bottom: 0px;
}

.footer-h p {
	color: #444444;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.page-title {
	margin: 0;
	margin-top: 80px;
	padding-bottom: 120px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
	text-transform: none;

}

.filter fieldset {
	border: none;
	margin-left: 0;
    padding-left: 0;
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
}

.filter ul {
	list-style: none;
	line-height: 20px;
}
input:hover + label,
input:focus + label {
	color: #FB565A;
}

input:disabled + label {
	color: rgba(40,49,54, 0.3);
}

.filter-button {
	padding: 20px 90px;
	border-top: solid 3px transparent;

	color: #000000;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;

	background-color: #EEEEEE;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #DFDFDF;
}

.filter-button:active {
	border-top: 3px solid #BFBFBF;
	color: rgba(0,0,0,0.3);

	background-color: #D5D5D5;
} 

.filter-button:hover,
.filter-button:focus {
	font-size: 16px;
	line-height: 18px;

	background-color: #DFDFDF;
}

.filter-button:active {
	color: rgba(0,0,0, 0.3);
	
	background-color: #D5D5D5;
}

.feedback {
	display: none;
}

.template-hover {
	width: 360px;
	padding-bottom: 40px;

	color: #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-align: center;

	background-color: #eeeeee;
}


.template-hover .template-hover-link {
	color: #000000;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;

	background-color: transparent; 
}

.template-hover .template-hover-link:hover,
.template-hover .template-hover-link:focus {
	color:#FB565A;
	border: none;

	background-color: transparent;

}

.template-hover .template-hover-link:active {
	color: rgba(0,0,0, 0.3);
	border: none;

	background-color: transparent;
}

.template-hover a {
	border-radius: 5px;
	border-top: 3px solid transparent;
	display: inline-block;
	padding: 20px 60px;

	
	color: #ffffff;
	text-transform: uppercase;
	
	background-color: #FB565A;
}

.template-hover a:hover,
.template-hover a:focus {
	background-color: #E74246;
}

.template-hover a:active {	
	border-top: solid 3px #C13134;
	
	background-color: #D7373B;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 1160px;
}


.footer-copyright {
	display: block;
	margin-left: 140px;
}

.main-footer {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 60px 0;
}

.filters {
	width: 265px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.filters ul {
	padding: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-social li + li {
	margin-left: 30px;
}

.main-header {
	margin-bottom: 80px;
	padding-top: 50px;
	padding-bottom: 50px;

	background-color: #eeeeee;
}

.visually-hidden {
	display: none;
}


.catalog {
	width: 760px;
}

.list-item p {
	margin: 0 auto;
	width: 150px;
	padding-bottom: 30px;
}

.template-hover h3 {
	margin: 0;
}



.list-item img {
	display: block;
}